
html, body {
    margin: 0;
    height: 100%;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.XOJ {
    perspective: 1000px;
    display: block;
    position: absolute;
    left: 130px;
    top: 200px;
}

.left {
    transform: rotateX(50deg) skewX(-20deg);
}

.mid {
    transform: rotateX(50deg);
}

.right {
    transform: rotateX(50deg) skewX(20deg);
}
